<!DOCTYPE html>
<html lang="de" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Wahl!</title>
  </head>
  {% if user.is_authenticated %}
  <body>
    <form action="" method="post" id="person">
      {% csrf_token %}
      <label class="h2" form="person">Wahlformular</label>
      <br>
      <br>
      <label for="vorname">Schüler:</label>
      <select name="student">
        {% if user.username == "lucah" %}
          {% for p in schueler %}
            <option value='{{p.name}}'>{{p.name}}</option>
            {% endfor %}
          {% else %}
          {% for p in schueler %}
            {% if p.klasse == user.username %}
            <option value='{{p.name}}'>{{p.name}}</option>
            {% endif %}
          {% endfor %}
        {% endif %}

      </select>
      <br>
      <br>
      <label for="1. Wahl">1. Wahl:</label>
      <select name="1. Wahl">
        <option value='None'></option>
        {% for p in project %}
        <option value='{{p.name}}'>{{p.name}}</option>
        {% endfor %}
      </select>
      <br>
      <br>
      <label for="2. Wahl">2. Wahl:</label>
      <select name="2. Wahl">
        <option value='None'></option>
        {% for p in project %}
        <option value='{{p.name}}'>{{p.name}}</option>
        {% endfor %}
      </select>
      <br>
      <br>
      <label for="3. Wahl">3. Wahl:</label>
      <select name="3. Wahl">
        <option value='None'></option>
        {% for p in project %}
        <option value='{{p.name}}'>{{p.name}}</option>
        {% endfor %}
      </select>
      <br>
      <br>
      <p>{{status}}</p>
      <button type="submit">Eingaben absenden</button>
      <a href="{% url 'logout' %}">logout</a>
      {% else %}
        <p>Sie sind nicht eingeloggt</p>
        <a href="{% url 'login' %}">login</a>
      {% endif %}
  </form>
  </body>
</html>
