<!DOCTYPE html>
<html lang="de" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Wahl!</title>
  </head>
  {% if user.is_authenticated %}
  <body>
    <form action="" method="post" id="person">
      {% csrf_token %}
      <label class="h2" form="person">Wahlformular</label>
      <br>
      <br>
      <label for="vorname">Schüler:</label>
      <select name="student">
        {% for p in schueler %}
        <option value='{{p.name}}'>{{p.name}}</option>
        {% endfor %}
      </select>
      <br>
      <br>
      <label for="project">Projekt:</label>
      <select name="project">
        {% for p in project %}
        <option value='{{p.name}}'>{{p.name}}</option>
        {% endfor %}
      </select>
      <br>
      <br>
      <p>{{status}}</p>
      <button type="submit">Eingaben absenden</button>
      <a href="{% url 'logout' %}">logout</a>
      {% else %}
        <p>Sie sind nicht eingeloggt</p>
        <a href="{% url 'login' %}">login</a>
      {% endif %}
  </form>
  </body>
</html>
